<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @individual.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @individual.age %>
</p>

<%= link_to 'Edit', edit_individual_path(@individual) %> |
<%= link_to 'Back', individuals_path %>
